name: Deploy Log Forwarder Configuration to S3 on Tag

on:
  push:
    tags:
      - '*'

env:
    ENVIRONMENTS_TO_SYNC: 'dev prod'
    PROJECT_DIR: 'log-forwarder'

jobs:
  deploy:
    name: Deploy All Configs
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: ⬇️ Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: ⬆️ Upload All Environment Configs to S3
        run: |
          # Pobranie nazwy taga, który wyzwolił workflow (np. v1.0.0)
          TAG_NAME="${{ github.ref_name }}"
          
          echo "Processing configuration deployment for tag: $TAG_NAME"
          
          # Iteracja przez zdefiniowane środowiska
          for ENV_DIR in ${ENVIRONMENTS_TO_SYNC}; do
            LOCAL_PATH="./config/$ENV_DIR"
          
            # Sprawdzenie, czy katalog konfiguracyjny istnieje
            if [ -d "$LOCAL_PATH" ]; then
              echo "--- Syncing $ENV_DIR configuration ---"
          
              # Konstrukcja ścieżki docelowej z tagiem i nazwą środowiska:
              # s3://BUCKET_NAME/TAG_NAME/ENV_DIR/
              S3_TARGET="s3://${{ vars.AWS_BUCKET_NAME }}/$PROJECT_DIR/$ENV_DIR/$TAG_NAME/"
          
              # Użycie aws s3 sync: synchronizuje cały katalog do docelowej ścieżki
              # Dzięki temu, w S3 zachowasz strukturę: tag/env/nazwa_pliku.yml
              aws s3 sync "$LOCAL_PATH" "$S3_TARGET" --acl private --content-type "application/x-yaml"
          
              echo "✅ Successfully synced $ENV_DIR to $S3_TARGET"
            else
              echo "⚠️ Directory $LOCAL_PATH not found, skipping."
            fi
          done